body{
    background-color: rgb(82, 194, 82);
}

#label{
    font-size: large;
  
}

#confidence{
    font-size: large;
  
}

#sketch_drawn{
    font-size: large;
  
}

#score{
    font-size: large;
}

#timer{
    font-size: large;
   
}

#sketch_drawn{
    color: red;
    
}